body {
    padding: 20px;
}
.mode a {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}
h1, p {
     text-align: center;
 }
h1 {
    padding: 30px;
}
p {
    padding: 10px;
    font-style: italic;
    color: darkred;
}
