/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.06.2020, 21:04:50
    Author     : Андрей
*/

label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.buttons {
    margin-top: 10px;
}
input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
    outline: none;
}
.form {
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 20px;
    width: 350px;
    background: #f5f5f5;
    margin: 20px 0;
}
.flex {
    display: flex;
}
.message {
    margin-left: 20px;
    color: red;
}

